# ── Bot ─────────────────────────────────────────
BOT_TOKEN=tu-token-aqui
SECRET_KEY=tilted2025

# ── Canales ─────────────────────────────────────
# Sanciones normales Y unbaneos van al mismo canal
CHANNEL_SANCIONES=ID_canal_sanciones_y_unbaneos
CHANNEL_SS=ID_canal_ss_bans
CHANNEL_ROLLBACKS=ID_canal_rollbacks
CHANNEL_MUTES=ID_canal_mutes

# ── Servidor ────────────────────────────────────
PORT=3000
